body {
	background-color: #EEE;
	font-family: Calibri, sans-serif;
}

p{
	margin: 0;
}

input {
	width: 40px;
	background-color: #d2a479;
	border: 0;
}

textarea {
	background-color: #601f1f;
	color: white;
	width: 99%;
}

#helpContainer{
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
}

.helpTab{
	display: inline-block;
	width: 50px;
	padding: 2px 6px 2px 6px;
	border: 1px solid black;
	background-color: #c8c8c8;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
}

.helpTab:hover{
	background-color: white;
}

.helpText{
	float: left;
	display: none;
	width: 95%;
	background-color: white;
	padding: 5px;
	border: 2px dotted black;
}

#hasteHelp:hover ~ #hasteText{
	display: inline-block;
}

#slowHelp:hover ~ #slowText{
	display: inline-block;
}

#characterContainer{
	padding-top: 20px;
}

#characterBlock{
	border-radius: 7px;
    border: 2px solid black;
	width: 90%;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #d2a479;
}

#damageTaken{
	background-color: white;
	border-color: black;
	border: 1px solid black;
	padding: 3px;
	text-align: center;
	width: 25px;
}

#closeButton{
	color: white;
	float: right;
	background-color: black;
}

#closeButton:hover{
	color: black;
	background-color: white;
}

#characterDetails{
	/*float: left;
	/*text-align: right;*/
}	

#nameDiv{
	display: inline-block;
}

#initiativeP{
	display: inline-block;
	vertical-align: 4px; 
}

#initiative{
	width: 20px;
}

#nameP{
	display: inline-block;
}

#name{
	display: inline-block;
	text-align: left;
	width: 90%;
	font-size: 25px;
	font-family: "OptimusPrincepsSemiBold", "Goudy Old Style", Calibri, sans-serif;
}

#maxHP, #currentHP{
	width: 40px;
}

#Notes{
	text-align: left;
	width: 9%;
}

#adder{
	position: fixed;
	left: 0px;
	bottom: 0px;
	height: 20px;
	width: 100%;
	background: #999;
	text-align: center;
}

#characterAdderContainer{
	position: fixed;
	left: 0px;
	bottom: 0px;
	height: 120px;
	width: 100%;
}

#characterAdder{
	display: none;
	border-radius: 7px;
    border: 2px solid black;
	padding-top: 35px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: gray;
	height: 90px;
	color: white;
	text-align: center;
}	

#characterAdder input{
	background-color: white;
	width: 100px;
	padding: 4px;
	padding-top: 10px;
	padding-bottom: 10px;
	border: 1px solid black;
}

#addName{
	width: 120px;
}

#characterAdder:hover{
	display: block;
}

#adder:hover + #characterAdder{
	display: block;
}



